.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text {
    margin-bottom: 5vh;
}

#findIdForm label {
    color: #333333;
}

input[type="email"]
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#send-email-button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#loading {
    display: none;
}

#loading-img {
    width: 10vw;
}