.writer-info-container{
    display:flex;
    gap: 20px;
}

.sub-board-info{
    color : #a2a2a2;
}
.start-element-container{
    display:flex;
    gap: 20px;
    font-weight: lighter;
    color: #4644e5
}

.board-rank-and-del-btn{
    display:flex;
    gap: 20px;
    justify-content: space-between;
}

.like-btn-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin:20px;
}

.like-btn-container>span{
    display: flex;
    justify-content: center;
}

.comment-and-rank-container{
    display:flex;
    gap: 20px;
    justify-content:center;
}

.reference-text-container{
    font-size: large;
    font-weight: bold;
    padding: 30px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 1px solid darkgrey;
    border-radius: 10px; /* 코너를 둥글게 처리 */
}



