.writer-info-container{
    display:flex;
    gap: 20px;
}

.sub-board-info{
    color : #a2a2a2;
}
.start-element-container{
    display:flex;
    gap: 20px;
    font-weight: lighter;
    color: #4644e5
}

.arena-header{
    display:flex;
    justify-content: space-between;
}

.top-users-rank{
    font-weight: bolder;
    font-size: larger;
    color: #4644e5;
}
.top-users-nickname{
    font-weight: bolder;

}
.top-users-clear-time{
    color: #676767;
}
.board-rank-and-del-btn{
    display:flex;
    gap: 20px;
    justify-content: space-between;
}

.reference-text-container{
    font-size: large;
    font-weight: bold;
    padding: 30px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 1px solid darkgrey;
    border-radius: 10px; /* 코너를 둥글게 처리 */
}

/*.like-btn-container>span{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.comment-and-rank-container{*/
/*    display:flex;*/
/*    gap: 20px;*/
/*    justify-content:center;*/
/*}*/

