/* mypage menu와 어울리기 위한 Header css start */
.mb-5 {
    margin-bottom: 0 !important;
}
/* mypage menu와 어울리기 위한 Header css end */


.main-content {
    margin-top: 3em;
    margin-left: 3em;
}

.main-content-subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    color: #333333;
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 70vw;
}

/* table thead row의 위, 아래 + 마지막 row의 아래에는 진한 색 테두리 + 나머지 row의 아래에는 연한 색 테두리 적용 start */

thead th {
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
}

tbody tr {
    border-bottom: 1px solid #d3d3d3;
}

tbody tr:last-child {
    border-bottom: 1px solid #919191;
}

/* table thead row의 위, 아래 + 마지막 row의 아래에는 진한 색 테두리 + 나머지 row의 아래에는 연한 색 테두리 적용 start */

th, td {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    padding: 8px;
}

tbody tr:hover {
    background-color: #dddddd;
}

.clickable-row {
    cursor: pointer;
}

/* 주간 아레나 prefix */
.weekly-prefix {
    font-size: 0.75rem;
    color: #ff4162;
    font-weight: bold;
}