.body{
    background-color: #f8f9fa;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

p{
    font-size: 30px;
    margin-bottom: 2rem;
}