/* 헤더 적용에 필요한 css start =======> */
.title-navbar-container {
    display: flex;
    justify-content: space-between;
}

#logoutButton {
    margin-left: 10px;
    border: none;
    color: black;
    background-color: #d9d9d9;
}

#navbar-nickname {
    font-weight: bold;
}

.mb-3 {
    cursor: pointer;
    margin-top: 1vh;
}

/* =======> 헤더 적용에 필요한 css end */