
.blind{
    width:1px;
    height: 1px;
    margin:0;
    clip-path: inset(50%);
    overflow: hidden;
    display: inline-block;
  
.like-btn-container{
    display:flex;
    justify-content: center;
    margin:20px;

}

.like-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

.like-button:hover{
    cursor: pointer;
}
.like-button svg path:hover{
    fill: red;
}

.like-svg{
    fill: red;
}


.comment-writer{
    font-weight: bolder;
}

.delete-comment{
    background-color: transparent;
    border: none;
    color: #9a9a9a;
}

.delete-comment:hover{
    background-color: transparent;
    border: none;
    color: #9a9a9a;
}

.comment-nav-bar{
    display:flex;
    justify-content: space-between;
}

.comment-created-date{
    font-weight: lighter;
    color: #777777;
}
.comment-content{
    font-size: larger;
}
/*
details{
    display: inline-block;
    margin-left: 164px;
}

details ul{
    list-style: none;
}



*/