.like-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

.like-button:hover{
    cursor: pointer;
}
.like-button svg path:hover{
    fill: red;
}

.like-svg{
    fill: red;
}


details{
    display: inline-block;
    margin-left: 164px;
}

details ul{
    list-style: none;
}