<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arena 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">Keyboard Arena</h1>
    <h4 class="mb-3">다른 사람들과 타자 속도를 겨뤄보세요</h4>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" onclick="location.href='/mypage'" class="btn btn-primary"th:text="${userTopBarInfo.nickname}">>내 페이지</button>
        <div class="navbar-text" th:text="'Rank: ' + ${userTopBarInfo.rank}"></div>
        <div class="navbar-text" th:text="'Points: ' + ${userTopBarInfo.point}"></div>

    </div>
</div>

<div class="container">
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/newArena}'|"
            class="btn btn-secondary btn-sm mb-3">글 등록</button>

    <div class="row-6" th:each="item :${arenas}">
        <div class="card">
            <div class="card-header" th:text="${item.boardId}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${item.title}"></h5>
                <a th:href="@{/arenas/{boardId}(boardId=${item.boardId})}" class="btn btn-primary">보러가기</a>
            </div>
        </div>
        <br>
    </div>

    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
</div>

<script src="/js/Arena.js"></script>
</body>