<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arena 상세보기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
ㄹ    <noscript>
        <meta http-equiv="refresh" content="/arenas" />
    </noscript>

    <style>
        body { /*복붙 금지*/
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* 표준 구문 */
        }
    </style>

</head>
<body>

<!-- 탑 네비게이션 바 -->
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" onclick="location.href='/mypage'" class="btn btn-primary"th:text="${arena.userTopBarInfo.nickname}">>내 페이지</button>
    <div class="navbar-text" th:text="'Rank: ' + ${arena.userTopBarInfo.rank}"></div>
    <div class="navbar-text" th:text="'Points: ' + ${arena.userTopBarInfo.point}"></div>

</div>

<!-- 본문 내용 -->
<div class="container mt-5">
    <h2 th:text="${arena.title}"></h2>
    <h5 th:text="'작성자: ' + ${arena.writer}"></h5>
    <h6 th:text="'작성일: ' + ${arena.createdDate}"></h6>
    <h6 th:text="'게시판 랭킹: ' + ${arena.boardRank}"></h6>
    <p th:text="${arena.content}"></p>

    <!-- 콘텐트 입력창 -->
    <form th:action="@{/arenas/{boardId}(boardId=${arena.boardId})}" method="post">
        <div class="form-group">
            <label for="contentInput">내용 입력</label>
            <textarea class="form-control" id="contentInput" name="userTypedText" rows="3"></textarea>
        </div>
        <button type="submit" class="arena-submit-btn">제출</button>
    </form>

    <!-- 수치 정보 -->
    <div>
        <span th:text="'참여자 수: ' + ${arena.participates}"></span> |
        <span th:text="'댓글 수: ' + ${arena.comments}"></span> |
        <span th:text="'좋아요: ' + ${arena.likes}"></span>
    </div>

    <!-- 댓글 리스트 -->
    <div class="mt-3">
        <h4>댓글</h4>
        <ul>
            <li th:each="comment : ${arena.commentResponses}">
                <span th:text="${comment.nickname} + ': '"></span>
                <span th:text="${comment.content}"></span>
                <span th:text="|(${comment.createdTime})|"></span>
            </li>
        </ul>
    </div>
</div>

<script src="/js/Arena.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>