<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyboard Arena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/user/changePw.css" th:href="@{/css/user/changePw.css}">
    <script defer src="/js/user/ChangePw.js"></script>
    <script defer src="/js/common/LogoutBtn.js"></script>
</head>
<body>

<header>
    <!-- 공통 헤더 start ======> -->
    <div class="p-5 mb-5 text-center</> bg-light">
        <!-- flex 적용을 위한 컨테이너 -->
        <div class="title-navbar-container">
            <!--서비스 이름-->
            <h1 class="mb-3" onclick="location.href='/'">Keyboard Arena</h1>
            <!-- 탑 네비게이션 바 -->
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-text" id="navbar-nickname" th:text="${userTopBarInfo.nickname} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Rank: ' + ${userTopBarInfo.rank} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Points: ' + ${userTopBarInfo.point} + '&nbsp;&nbsp;'"></div>
                <button type="button" class="btn btn-primary" onclick="location.href='/mypage'" >마이페이지</button>
                <button type="button" class="btn btn-secondary" id="logoutButton">로그아웃</button>
            </div>
        </div>
        <h4 class="mb-3">다른 사람들과 타자 속도를 겨뤄보세요</h4>
    </div>
    <!-- ======> 공통 헤더 end -->

    <!-- mypage 공통 메뉴 html start ======> -->
    <div class="list-group-container">
        <div class="list-group">
            <a href="/mypage/arenas" class="list-group-item list-group-item-action">내가 참전한 아레나</a>
            <a href="/mypage/boards/commented" class="list-group-item list-group-item-action">내가 댓글 단 게시물</a>
            <a href="/mypage/boards" class="list-group-item list-group-item-action">내가 쓴 게시물</a>
            <a href="/mypage/boards/liked" class="list-group-item list-group-item-action">좋아요 누른 게시물</a>
        </div>
    </div>
    <!-- ======> mypage 공통 메뉴 html end -->
</header>

<main>
    <div class="main-content">
        <div class="main-content-title">
            <h2>My Page</h2>
        </div>

        <div class="main-content-subtitle">
            <h3>비밀번호 변경</h3>
            <hr class="my-2">
        </div>

        <form id ="changePasswordForm" action="/mypage/changePassword" method="post">
            <div class="changePasswordInput">
                <label for="currentPassword">비밀번호</label>
                <input type="password" id="currentPassword" name="currentPassword" required placeholder="현재 비밀번호를 입력해주세요.">
            </div>
            <div class="changePasswordInput">
                <label for="newPassword">새로운 비밀번호</label>
                <input type="password" id="newPassword" name="newPassword" required placeholder="비밀번호(8~20자 이내, 영문/숫자/기호 사용가능)">
                <div class="newStrongPasswordMessage hide">8~20자 이내, 영문/숫자/기호 사용해주세요!</div>
            </div>
            <div class="changePasswordInput">
                <label for="confirmNewPassword">새로운 비밀번호 확인</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required placeholder="비밀번호(8~20자 이내, 영문/숫자/기호 사용가능)">
                <div class="newPasswordMismatchMessage hide">새로운 비밀번호가 일치하지 않습니다</div>
            </div>
            <div class="user-actions">
                <button class="btn btn-primary" type="submit">변경</button>
                <a href="/mypage" th:href="@{/mypage}"><button class="btn btn-secondary" type="button">취소</button></a>
            </div>
        </form>

    </div>

</main>

</body>
</html>