<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keyboard Arena</title>
    <link rel="stylesheet" type="text/css" href="/css/mypage/MyPageBoards.css" th:href="@{/css/mypage/MyPageBoards.css}">
    <script defer src="/js/mypage/MyPageGetBoardDetails.js"></script>
</head>
<body>
<h1>Keyboard Arena</h1>
<h2>My Page</h2>
<h3>내가 댓글 단 게시물</h3>
<div th:unless="${myCommentedBoards}">
    <p th:text="${errorMessage}"></p>
</div>
<table th:if="${myCommentedBoards}">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>좋아요</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board, index : ${myCommentedBoards}" class="clickable-row" th:attr="board-id=${board.boardId}, board-type=${board.boardType}">
        <td th:text="${index.index + 1}"></td>
        <td th:text="${board.getTitle()}"></td>
        <td th:text="${board.getAuthor()}"></td>
        <td th:text="${#temporals.format(board.getCreatedDate(), 'yyyy.MM.dd')}"></td>
        <td th:text="${board.getLikes()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>