<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyboard Arena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/freeboard/freeBoardList.css" th:href="@{/css/freeboard/freeBoardList.css}">
    <script defer src="/js/common/LogoutBtn.js"></script>
</head>
<body>
<header>
    <!-- 공통 헤더 start ======> -->
    <div class="p-5 mb-5 text-center</> bg-light">
        <!-- flex 적용을 위한 컨테이너 -->
        <div class="title-navbar-container">
            <!--서비스 이름-->
            <h1 class="mb-3" onclick="location.href='/'">Keyboard Arena</h1>
            <!-- 탑 네비게이션 바 -->
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-text" id="navbar-nickname" th:text="${userTopBarInfo.nickname} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Rank: ' + ${userTopBarInfo.rank} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Points: ' + ${userTopBarInfo.point} + '&nbsp;&nbsp;'"></div>
                <button type="button" class="btn btn-primary" onclick="location.href='/mypage'" >마이페이지</button>
                <button type="button" class="btn btn-secondary" id="logoutButton">로그아웃</button>
            </div>
        </div>
        <h4 class="mb-3">다른 사람들과 타자 속도를 겨뤄보세요</h4>
    </div>
    <!-- ======> 공통 헤더 end -->
</header>
<main>
    <div class="container">
        <div class="index-menu">
            <h2 id="index-menu-arena" onclick="location.href='/arenas'">투기장</h2>
            <h2 id="index-menu-freeboard" onclick="location.href='/board'">자유게시판</h2>
        </div>

        <table class="table table-borderless" th:if="${freeboard}">
            <thead>
            <tr>
                <td colspan="5"></td>
                <td>
                    <button id="create-freeboard-button" class="btn btn-primary" th:onclick="|location.href='@{/newFreeboard}'|">게시판 글쓰기</button>
                </td>
            </tr>
            <tr>
                <th scope="col">게시글</th>
                <th scope="col">created date</th>
                <th scope="col">조회수</th>
                <th scope="col">댓글</th>
                <th scope="col">likes</th>
                <!--글쓰기 버튼용 공백 칼럼-->
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board, index : ${freeboard}" class="top3-freeboard-row">
                <td>
                    <span th:if="${index.index == 0}" class="top1" style="font-weight: bold; color: green;">top1 </span>
                    <span th:if="${index.index == 1}" class="top2" style="font-weight: bold; color: green;">top2 </span>
                    <span th:if="${index.index == 2}" class="top3" style="font-weight: bold; color: green;">top3 </span>
                    <span th:text="${board.title}"></span>
                </td>
                <td th:text="${#temporals.format(board.createdDate, 'yyyy/MM/dd')}"></td>
                <td th:text="${board.views}"></td>
                <td th:text="${board.comments}"></td>
                <td th:text="${board.likes}"></td>
                <td>
                    <a th:href="@{/board/{boardId}(boardId=${board.boardId})}" class="btn btn-primary">보러가기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>