<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${post.title}"></title>

    <script defer src="/js/FreeBoard.js"></script>
    <script defer src="/js/LikeComment.js"></script>
    <script defer src="/js/LogoutBtn.js"></script>
</head>
<body>
<header>
    <h1>Keyboard Arena</h1>
    <button type="button" id="logoutButton">로그아웃</button>
</header>
<main>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${writer.nickname}"></p>
    <p th:text="${writer.userRank}"></p>
    <p th:if="${post.updatedDate} != null and ${post.updatedDate} != ${post.createdDate}">edited</p>
    <p th:if="${post.updatedDate} != null and ${post.updatedDate} != ${post.createdDate}" th:text="${post.updatedDate}"></p>
    <p th:if="${post.updatedDate} == null or ${post.updatedDate} == ${post.createdDate}" th:text="${post.createdDate}"></p>
    <input type="hidden" th:value="${loginedUserId}" id="logined-id">
    <div>
        <button th:if="${loginedUserId}==${writer.userId}" th:onclick="|location.href='@{/board/{board_id}/update(board_id=${post.boardId})}'|">edit</button>
        <button th:if="${loginedUserId}==${writer.userId}" id="delete-freeboard-button">delete</button>
        <input type="hidden" id="board-id" th:value="${post.boardId}">
    </div>
    <textarea name="content" id="" cols="100" rows="5" th:text="${post.content}" readonly></textarea>

    <button class="like-button"><img src="/media/like.svg" alt="좋아요 클릭" width="42"></button>

    <span th:text="${post.likes}"></span>

    <a href="/board">뒤로가기</a>

    <details>
        <summary>댓글</summary>
        <ul th:each="comment,commentStat : ${comments}">
            <li th:text="|${comment.nickName}/ ${commentWritersRanks.get(commentStat.index)}
            ${comment.createdDate} ${comment.content}|"></li>
            <button th:if="${loginedId}==${comment.id}" class="delete-comment" th:attr="comment-id=${comment.commentId}">댓글삭제</button>
        </ul>
        <textarea name="writeComment" id="write-comment" cols="20" rows="5"></textarea>
        <button id="commit-comment">댓글등록</button>

    </details>

</main>
</body>
</html>