<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyboard Arena</title>
</head>
<body>
Home
<p>id: <span th:text="${user.id}"></span></p>
<p>id: <span th:text="${user}"></span></p>
<p>userId: <span th:text="${user.userId}"></span></p>
<p>password: <span th:text="${user.password}"></span></p>
<p>finPw: <span th:text="${user.findPw}"></span></p>
<p>findPwQuestion: <span th:text="${user.findPwQuestion}"></span></p>
<p>nickname: <span th:text="${user.username}"></span></p>
<p>email: <span th:text="${user.email}"></span></p>
</body>
</html>