<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자유게시판</title>
</head>
<body>
<header>
    <h1>Keyboard Arena</h1>
    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
</header>
<main>
    <button onclick="location.href='../templates/newFreeboard.html'">게시판 글 쓰기</button>
    <button>투기장</button>
    <button onclick="location.href='/board'">자유게시판</button>

    <p>title</p>
    <p>created date</p>
    <p>조회수</p>
    <p>댓글</p>
    <p>likes</p>

    <ul th:each="post,postStat : ${freeboard}">
        <p th:if="${postStat.index} == 0">Top1</p>
        <p th:if="${postStat.index} == 1">Top2</p>
        <p th:if="${postStat.index} == 2">Top3</p>
        <li><a th:text="${post.title}" th:href="@{/board/{board_id}(board_id=${post.board_id})}"></a></li>
        <li th:text="${post.createdDate}"></li>
        <li th:text="${post.view}"></li>
        <li th:text="${post.comment}"></li>
        <li th:text="${post.like}"></li>
    </ul>

    </main>
</body>
</html>