<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyboard Arena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css" th:href="@{/css/index.css}">
    <script defer src="/js/LogoutBtn.js"></script>
    <style>
        button {
            border: 1px solid black;
        }

        #logoutButton {
            margin-left: 10px;
            border: none;
            color: black;
            background-color: #d9d9d9;
        }
        #navbar-nickname {
            font-weight: bold;
        }
    </style>
</head>
<body>
<!-- 탑 네비게이션 바 -->
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="btn btn-primary" onclick="location.href='/mypage'" >마이페이지</button>
    <button type="button" class="btn btn-secondary" id="logoutButton">로그아웃</button>
    <div class="navbar-text" id="navbar-nickname" th:text="'&nbsp;&nbsp;' + ${userTopBarInfo.nickname} + '&nbsp;&nbsp;'"></div>
    <div class="navbar-text" th:text="'Rank: ' + ${userTopBarInfo.rank} + '&nbsp;&nbsp;'"></div>
    <div class="navbar-text" th:text="'Points: ' + ${userTopBarInfo.point}"></div>
</div>

<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">Keyboard Arena</h1>
    <h4 class="mb-3">다른 사람들과 타자 속도를 겨뤄보세요</h4>

</div>

<main>
    <section class="write-menu">
        <button th:onclick="|location.href='@{/newArena}'|">투기장 개장</button>
        <button th:onclick="|location.href='@{/newFreeboard}'|">게시판 글 쓰기</button>
    </section>
    <section class="board-menu">
        <button id="arena-list-button" onclick="location.href='/arenas'">투기장</button>
        <button id="freeboard-list-button" onclick="location.href='/board'">자유게시판</button>
    </section>


    <p>title</p>
    <p>created date</p>
    <p>조회수</p>
    <p>댓글</p>
    <p>likes</p>

    <ul th:each="post,postStat : ${freeboard}">
        <p th:if="${postStat.index} == 0">Top1</p>
        <p th:if="${postStat.index} == 1">Top2</p>
        <p th:if="${postStat.index} == 2">Top3</p>
        <li th:if="${loginedUserRank}>=${post.getBoardRank()}"><a th:text="${post.title}" th:href="@{/board/{board_id}(board_id=${post.boardId})}"></a></li>
        <li th:text="${post.title}" th:if="${loginedUserRank}<${post.getBoardRank()}"></li>
        <li th:text="${post.createdDate}"></li>
        <li th:text="${post.getViews}"></li>
        <li th:text="${post.getComments}"></li>
        <li th:text="${post.getLikes}"></li>
    </ul>

</main>
</body>
</html>