<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keyboard Arena</title>
    <link rel="stylesheet" type="text/css" href="/css/MyPageBoards.css" th:href="@{/css/MyPageBoards.css}">
    <script defer src="/js/MyPageGetBoardDetails.js"></script>
</head>
<body>
<h1>Keyboard Arena</h1>
<h2>My Page</h2>
<h3>내가 참전한 아레나</h3>
<div th:unless="${myArenas}">
    <p th:text="${errorMessage}"></p>
</div>
<table th:if="${myArenas}">
    <thead>
    <tr>
        <th>번호</th>
        <th>Arena 제목</th>
        <th>랭크</th>
        <th>작성일</th>
        <th>참가자 수</th>
        <th>댓글</th>
        <th>좋아요</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="arena, index : ${myArenas}" class="clickable-row" th:attr="board-id=${arena.getBoardId()}, board-type=${arena.boardType}">
        <td th:text="${index.index + 1}"></td>
        <td th:text="${arena.title}"></td>
        <td th:text="${arena.boardRank}"></td>
        <td th:text="${#temporals.format(arena.createdDate, 'yyyy.MM.dd')}"></td>
        <td th:text="${arena.participates}"></td>
        <td th:text="${arena.comments}"></td>
        <td th:text="${arena.likes}"></td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>