<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<h1>Keyboard Arena</h1>
<h2>MyPage</h2>
<div>
    <p>User ID: <span th:text="${userInfo.userId}"></span></p>
    <p>Nickname: <span th:text="${userInfo.nickname}"></span></p>
    <p>User Rank: <span th:text="${userInfo.userRank}"></span></p>
    <p>Point: <span th:text="${userInfo.point}"></span></p>
    <p>Email: <span th:text="${userInfo.email}"></span></p>
</div>
    <form action="/mypage/changePassword" method="get">
        <button type="submit">비밀번호 변경</button>
    </form>
    <form action="/mypage/signout" method="get">
        <button type="submit">회원 탈퇴</button>
    </form>
<div>
    <a href="/mypage/arenas">내가 참전한 아레나</a><br>
    <a href="/mypage/boards/commented">내가 댓글 단 게시물</a><br>
    <a href="/mypage/boards">내가 쓴 게시물</a><br>
    <a href="/mypage/boards/liked">좋아요 누른 게시물</a><br>
</div>
</body>
</html>