<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자유게시판 글 쓰기</title>
    <link rel="stylesheet" type="text/css" href="/css/common/Header.css" th:href="@{/css/common/Header.css}">
    <script defer src="/js/common/LogoutBtn.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/freeboard/NewFreeBoard.css" th:href="@{/css/freeboard/NewFreeBoard.css}">
</head>
<body>
<header>
    <!-- 공통 헤더 start ======> -->
    <div class="p-5 mb-5 text-center</> bg-light">
        <!-- flex 적용을 위한 컨테이너 -->
        <div class="title-navbar-container">
            <!--서비스 이름-->
            <h1 class="mb-3" onclick="location.href='/'">Keyboard Arena</h1>
            <!-- 탑 네비게이션 바 -->
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-text" id="navbar-nickname" th:text="${user.nickname} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Rank: ' + ${user.userRank} + '&nbsp;&nbsp;'"></div>
                <div class="navbar-text" th:text="'Points: ' + ${user.point} + '&nbsp;&nbsp;'"></div>
                <button type="button" class="btn btn-primary" onclick="location.href='/mypage'" >마이페이지</button>
                <button type="button" class="btn btn-secondary" id="logoutButton">로그아웃</button>
            </div>
        </div>
        <h4 class="mb-3">다른 사람들과 타자 속도를 겨뤄보세요</h4>
    </div>
    <!-- ======> 공통 헤더 end -->
</header>
<div class="container mt-5">
    <div class="row justify-content-center" id="main-container-title">
        <div class="col-lg-8">
            <h3 class="mb-3" style="font-weight: bold;">자유게시판</h3>
            <h4 class="mb-3">개장된 아레나 또는 자유로운 주제에 대한 게시글을 작성해보세요</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="/board" method="post">
                <div class="first-line">
                    <div class="first-line-title">
                        <input type="text" name="title" placeholder="title" class="new-freeboard-title-input">

                    </div>
                    <div class="first-line-select-and-buttons">
                        <label for="selectBoardRank" class="set-board-rank">open to : </label>
                        <select name="boardRank" id="selectBoardRank">
                            <option th:each="num : ${#numbers.sequence(0,user.userRank)}" th:text="${numStat.index}" th:value="${numStat.index}"></option>
                        </select>
                        <span>이상</span>
                        <a href="/" class="btn btn-secondary btn-sm">뒤로가기</a>
                        <button type="submit" class="btn btn-primary btn-sm">submit</button>
                    </div>
                </div>
                <textarea name="content" id="free-content" cols="100" rows="5" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
            </form>
        </div>
    </div>
</div>


</body>
</html>