<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아레나 탈퇴유저 에러페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/common/authorityError.css">
</head>
<body>
    <div class="wrap">
        <img src="/media/authorityError.png" alt="에러페이지이미지">
        <p th:text="|${loginedUserId}님은 탈퇴유저여서 게시글에 접근이 불가능합니다.|"></p>
        <a class="btn btn-secondary" href="/board">뒤로가기</a>
    </div>
</body>
</html>